fastapi
uvicorn[standard]
pymongo
motor
python-jose[cryptography]
bcrypt
python-dotenv
pydantic[email]
passlib[bcrypt]
fastapi-mail
aiosmtplib
scikit-learn
numpy
joblib
python-multipart
httpx
twilio
apscheduler
groq
