@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  
  --color-secondary: #3f3f46;
  
  --color-surface: #ffffff;
  --color-on-surface: #1a1c1d;
  --color-on-surface-variant: #71717a;
  
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #fafafa;
  --color-surface-container: #f4f4f5;
  --color-surface-container-high: #e4e4e7;
  --color-surface-container-highest: #d4d4d8;
  
  --color-outline: #000000;
  --color-outline-variant: #e4e4e7;

  --radius-xl: 1rem;
  --radius-xxl: 2rem;
}

@layer utilities {
  .ambient-shadow {
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
  }
}