VITE_API_URL=http://localhost:8000
VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIzOTBiZTVmNC0xMWIxLTQxYjAtODVhNi1mOGNkYzM2Y2NjMzkiLCJlbWFpbCI6ImdvbnNhbHZlc25hc2g4MEBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiNTFlNDdkNDYzZTQ1MDQ3MjhjMDMiLCJzY29wZWRLZXlTZWNyZXQiOiIzZjQzOGM3MGZmMTk3NDNiMWQyNGNjOGZjNTBkMDBlN2E5ZWYxNTljNTAyM2ZiZWRhNzIyMGY4Nzg3ZTE5MmQ1IiwiZXhwIjoxODA4MDcxNzUxfQ.Jmg61Tjltv9p5prw5jJgoX1R9ouQbs9WCFCfI9_-9OA
VITE_PINATA_GATEWAY=https://green-elderly-cephalopod-168.mypinata.cloud/ipfs
